
body {
  margin: 0;
  padding: 0;
}
.header {
  border: 3px solid rgb(0, 141, 0);
  background-image: url('images/dog.JPG'); 
  background-size: cover;
  color: white;
  font-size: 44px;
  height: 350px;
  text-align: center;
  padding: 20px;
}
.header h1 {
  text-align: center;
}
.outdiv {
  border: 5px solid rgb(182, 43, 43);
}
.outdiv:hover {
  background-color: yellow;
}
*:focus {
  background-color: rgba(210, 210, 210, 1);
}
.test {
  text-transform: uppercase;
}

.special {
  border: 5px solid black;
  width: 20%;
  margin: 10px;
  padding: 20px;
}

.special:hover {
  background-color: rgb(219, 69, 69);
}

.parent-div > div:first-child {
  width: 80%;
  margin: 0 auto;
}

.parent-div > div:nth-child(even) {
  border: 1px dashed black; 
}

ul li, ol li {
  width: 200px;
}
